!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    != SocketStream
    title nodes
  body
    #wrapper
      #main
        table(class='boxes')
          tbody
            tr
              td(class='greenbox-head')
                h1 node5
                h3 pokoj A
              td(class='greenbox')
                h1 Temperatura
                h3 12.6C
              td(class='greenbox')
                h1 Ciśnienie
                h3 1000hPa



